[clientmanager]

# Global

FullDataPath = "D:\A\Client\Manager\Data\FullData"
LocDataPath = "D:\A\Client\Manager\Data\LocData"
TinyDataPath = "D:\A\Client\Manager\Data\TinyData"
TinyLocPath = "D:\A\Client\Manager\Data\TinyLoc"
TinyPatchPath = "D:\A\Client\Manager\Data\TinyPatch"

DataPath = "D:\A\Client\Manager\Data"
UpdatePath = "D:\A\Client\Manager\Update"

# ClientCompressor

PatchOutputPath = "D:\A\Client\Manager\Output"
ReleasePath = "D:\A\Client\Manager\Release"
GameDataPath = "D:\A\Client\Aviana\Data"
ClientName = "Aviana"
RealmlistAddress = "auth.aviana-online.com"

# ClientPatcher

AnnounceAddress = "http://localhost/announce"
PatchAddress = "http://localhost/update/patch"
PatchNoteAddress = "http://localhost/patch-note"
PatchReleasePath = "D:\A\Build\bin\Release\data\patches"

# Database

LoginDatabaseInfo = "127.0.0.1;3306;root;;iwpa"
UnusedDatabaseInfo = "127.0.0.1;3306;root;;iwpu"
WorldDatabaseInfo = "127.0.0.1;3306;root;;iwpw"

# ClientPatcher - Version

NewClientBuild = 30000
NewMajorVersion = 3
NewMinorVersion = 0
NewBugfixVersion = 0
NewHotfixVersion = ""

# Logging

Appender.Console=1,4,0
Appender.Manager=2,2,0,Manager.log,w
Logger.root=3,Console Manager
